# sequencing in list

In [1]:
ll = [1,2,3,6,4,5,'mohit',7,8,9]

In [2]:
#all element
ll[:]

[1, 2, 3, 4, 4, 5, 'mohit', 7, 8, 9]

In [3]:
#first 3
ll[:3]

[1, 2, 3]

In [5]:
#last two
ll[8:]

[8, 9]

In [7]:
#gap of 2 
#start , end , skip 
ll[0:10:2]

[1, 3, 4, 'mohit', 8]

In [8]:
#increment by 2
ll[1::2]

[2, 4, 5, 7, 9]

In [65]:
a=[3,4,5,6,7]
b=[56,6,7,89,8]
c=[2,3,4,5,6,8,8,9,0]

d= [a,b,c]

In [66]:
d

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 8, 8, 9, 0]]

In [43]:
d[1]

[56, 6, 7, 89, 8]

In [44]:
d[2]

[2, 3, 4, 5, 6, 8, 8, 9, 0]

In [45]:
d[:2]

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8]]

In [46]:
d[1:]

[[56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 8, 8, 9, 0]]

In [47]:
d[-1][::2]

[2, 4, 6, 8, 0]

In [48]:
a.append('mohit')
a

[3, 4, 5, 6, 7, 'mohit']

In [49]:
a.remove('mohit')
a

[3, 4, 5, 6, 7]

In [50]:
a.extend([7,8,9])
a

[3, 4, 5, 6, 7, 7, 8, 9]

In [63]:
list1 = [1, 1, 1, 2, 3, 2, 1]  
  
# Counts the number of times 1 appears in list1 
print(list1.count(1))

4

In [64]:
list1.count(1)

4

In [52]:
#to generate the number 
l = list(range(10))

In [73]:
new = [1,2,22,12,3,8,4,5,6,7,72,7,75,7,8,8,8,]
new.count(7)

3

# sort

In [74]:
new.sort()
new

[1, 2, 3, 4, 5, 6, 7, 7, 7, 8, 8, 8, 8, 12, 22, 72, 75]

In [85]:
sorted(new)

[1, 2, 3, 4, 5, 6, 7, 7, 7, 8, 8, 8, 8, 12, 22, 72, 75]

In [88]:
#gretaer to smaller 
new.sort(reverse=True)
new

[75, 72, 22, 12, 8, 8, 8, 8, 7, 7, 7, 6, 5, 4, 3, 2, 1]

In [89]:
n=['mohit','kumar','shukla']
n.sort()
n

['kumar', 'mohit', 'shukla']

# reverse

In [81]:
new.reverse()

In [82]:
new

[75, 72, 22, 12, 8, 8, 8, 8, 7, 7, 7, 6, 5, 4, 3, 2, 1]

In [83]:
s = [1,2,3,4]
s.reverse()

In [84]:
s

[4, 3, 2, 1]

In [86]:
n = [1,2,3,4]

In [87]:
n[::-1]

[4, 3, 2, 1]