In [1]:
a=[3,4,5,6,7]
b=[56,6,7,89,8]
c=[2,3,4,5,6,8,8,9,0]

d= [a,b,c]

In [2]:
#1= reverse the list 
#2= reverse the element of that list
m=[]
d.reverse()  #=d[:: -1] #reverse upper level
for b in d:
    m.append(b[:: -1])

In [3]:
m

[[0, 9, 8, 8, 6, 5, 4, 3, 2], [8, 89, 7, 6, 56], [7, 6, 5, 4, 3]]

# question  extract Pink

In [8]:
ex=[[1,2,3],['mohit',['shukla',[7,8,9,10,['sky',['is','pink']]]]]]

In [11]:
ex[1]

['mohit', ['shukla', [7, 8, 9, 10, ['sky', ['is', 'pink']]]]]

In [16]:
ex[1][1][1]

[7, 8, 9, 10, ['sky', ['is', 'pink']]]

In [21]:
ex[1][1][1][4][1][1]

'pink'

# replace the data 7 (mohit) and 9 with shukla

In [22]:
a = [1,2,3,4,5,6,7,8,9,10]

In [25]:
a[6]=['mohit']
a[8]=['shukla']
a

[1, 2, 3, 4, 5, 6, ['mohit'], 8, ['shukla'], 10]

# check number 10 in list

In [26]:
10 in a

True

# find the element

In [32]:
ll = [1,2,3,4,5,6,7,8,9]

In [40]:
# gaping of 2 
ll[1:9:2]

[2, 4, 6, 8]

In [42]:
#upto only starting 3
ll[:3]

[1, 2, 3]

In [43]:
# increment by 2
ll[1::2]

[2, 4, 6, 8]

# looping on list

In [28]:
#looping on list 
li = [1,2,3,'mohit',4,5,6]

In [30]:
for i in range(len(li)):
    print(li[i])

1
2
3
mohit
4
5
6

In [31]:
for i in range(2 ,len(li)):
    print(li[i])

3
mohit
4
5
6