# Advance Pandas - Join/Merge Operations

First we will import all important required libraries

In [1]:
import numpy as np
import pandas as pd
import os

## Merge, Join and Concatenate DataFrames

In [2]:
import pandas as pd

In [3]:
# Merging two data frames
# Creating data frames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7'],
                        'E': ['E4', 'E5', 'E6', 'E7']},
                         index=[1, 2, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[1,2,10,11])

In [4]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [5]:
df2

    A   B   C   D   E
1  A4  B4  C4  D4  E4
2  A5  B5  C5  D5  E5
6  A6  B6  C6  D6  E6
7  A7  B7  C7  D7  E7

In [6]:
df3

      A    B    C    D
1    A8   B8   C8   D8
2    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### Concatenation

**Concatenation on Axis = 0 (on row level)**

In [9]:
df_cat1 = pd.concat([df1,df2,df3], axis=0)
print(df_cat1)

      A    B    C    D    E
0    A0   B0   C0   D0  NaN
1    A1   B1   C1   D1  NaN
2    A2   B2   C2   D2  NaN
3    A3   B3   C3   D3  NaN
1    A4   B4   C4   D4   E4
2    A5   B5   C5   D5   E5
6    A6   B6   C6   D6   E6
7    A7   B7   C7   D7   E7
1    A8   B8   C8   D8  NaN
2    A9   B9   C9   D9  NaN
10  A10  B10  C10  D10  NaN
11  A11  B11  C11  D11  NaN

/home/mohit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

**join** type as **inner** helps to filter common indexes in other axis

In [10]:
df_cat1 = pd.concat([df1,df2,df3], axis=0, join='inner', ignore_index=True)
print(df_cat1)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

**Concatenation on Axis = 1 (on column level)**

In [11]:
df_cat2 = pd.concat([df1,df2,df3], axis=1)
print(df_cat2)

      A    B    C    D    A    B    C    D    E    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1   A4   B4   C4   D4   E4   A8   B8   C8   D8
2    A2   B2   C2   D2   A5   B5   C5   D5   E5   A9   B9   C9   D9
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6   E6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7   E7  NaN  NaN  NaN  NaN
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

### Merging

In Merge we are using some key as reference to merge different data frames

In [13]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K4'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [14]:
df1

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K4  A3  B3

In [15]:
df2

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

Using **on** parameter for setting **key** to merge data frames

In [16]:
merge1= pd.merge(df1,df2,on='key') # Inner Join
merge1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [17]:
merge1= pd.merge(df1,df2,on='key',how='inner') # Inner Join
merge1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [18]:
merge2= pd.merge(df1,df2,on='key', how='left')
merge2

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2   C2   D2
3  K4  A3  B3  NaN  NaN

In [19]:
merge3= pd.merge(df1,df2,on='key', how='outer')
merge3

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2   C2   D2
3  K4   A3   B3  NaN  NaN
4  K3  NaN  NaN   C3   D3

In [20]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3'],
                      'A': ['A0', 'A1', 'A2', 'A3']})

In [21]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [22]:
right

  key1 key2   C   D   A
0   K0   K0  C0  D0  A0
1   K1   K0  C1  D1  A1
2   K1   K0  C2  D2  A2
3   K2   K0  C3  D3  A3

In [23]:
df1,df2=left,right

Merge dataframes using multiple keys

In [24]:
pd.merge(df1, df2, on=['key1', 'key2'], suffixes=('_l','_r')) # inner join

  key1 key2 A_l   B   C   D A_r
0   K0   K0  A0  B0  C0  D0  A0
1   K1   K0  A2  B2  C1  D1  A1
2   K1   K0  A2  B2  C2  D2  A2

If we want to keep all rows from one Data Frame and for other only keep matching ones, we can use **how** parameter

In [25]:
pd.merge(df1, df2, how='left',on=['key1', 'key2'])

  key1 key2 A_x   B    C    D  A_y
0   K0   K0  A0  B0   C0   D0   A0
1   K0   K1  A1  B1  NaN  NaN  NaN
2   K1   K0  A2  B2   C1   D1   A1
3   K1   K0  A2  B2   C2   D2   A2
4   K2   K1  A3  B3  NaN  NaN  NaN

In [26]:
print(df1)
print(df2)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D   A
0   K0   K0  C0  D0  A0
1   K1   K0  C1  D1  A1
2   K1   K0  C2  D2  A2
3   K2   K0  C3  D3  A3

In this case all rows are available from left data frame, but from other Data Frame only machine once shown and NaN used to fill their place.

In [27]:
pd.merge(df1, df2, how='right',on=['key1', 'key2'])

  key1 key2  A_x    B   C   D A_y
0   K0   K0   A0   B0  C0  D0  A0
1   K1   K0   A2   B2  C1  D1  A1
2   K1   K0   A2   B2  C2  D2  A2
3   K2   K0  NaN  NaN  C3  D3  A3

In [28]:
pd.merge(df2,df1, how='left',on=['key1', 'key2'])

  key1 key2   C   D A_x  A_y    B
0   K0   K0  C0  D0  A0   A0   B0
1   K1   K0  C1  D1  A1   A2   B2
2   K1   K0  C2  D2  A2   A2   B2
3   K2   K0  C3  D3  A3  NaN  NaN

In [29]:
a = df1.merge(df2, how='left')

In [30]:
a

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C2   D2
3   K2   K1  A3  B3  NaN  NaN

### Join Operation

Join is convinient method to combine columns based on indexes of data frames

Same functionality can be achieved in **merge** function using **left_index** and **right_index** arguments

In [35]:
#help(pd.DataFrame.join)

In [36]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [37]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [38]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [39]:
df1,df2=left,right

In [41]:
#help(df1.join)

In [42]:
df1.join(df2)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [43]:
df_final=left.join(right, how='inner')

In [44]:
df_final[df_final['A']=='A0']

     A   B   C   D
K0  A0  B0  C0  D0