### pattern1

In [10]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        # print jth column
        print("*", end='')
        j = j + 1
    print()
    i = i + 1

4
****
****
****
****

In [11]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        # print jth column
        print(n, end='') #remove comma to print n many times as user want 
        j = j + 1
    print()
    i = i + 1

7
7777777
7777777
7777777
7777777
7777777
7777777
7777777

In [12]:
#pattern try 12345 
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        # print jth column
        print(i, end='') #remove comma to print n many times as user want 
        j = j + 1
    print()
    i = i + 1

5
11111
22222
33333
44444
55555

In [32]:
#pattern try 12345 
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <=n:
        # print jth column
        print(j, end='') #remove comma to print n many times as user want 
        j = j + 1
    print()
    i = i + 1

5
12345
12345
12345
12345
12345

In [15]:
n= int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(n-j+1 , end='')
        j=j+1
    print()
    i = i+1

5
54321
54321
54321
54321
54321

In [24]:
#
rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [37]:
#Triangular Star Pattern
n= int(input())
def pypart(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("*",end="")
        print("\r")

pypart(n)

5
*
**
***
****
*****

### number pattern triangle

In [1]:
n=int(input())
def tri(n):
    for i in range(1,n+1):
        for j in range(1,i+1):  #add the values in row line by line 
            print(i ,end='')
        print()
tri(n)

5
1
22
333
4444
55555

In [59]:
#Reverse Number Pattern
n=int(input())
def tri1(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(i-j+1 ,end='')
        print()
tri1(n)

5
1
21
321
4321
54321

In [1]:
## second approach with while
n=int(input())
i=1
while i<=n:
    j=0
    while j<i:
        print(i-j,end="")
        j+=1
    print()
    i+=1

5
1
21
321
4321
54321

### char pattern

In [5]:
ord('A') #tell about the ascii value of char chr(66)

65

In [6]:
chr(66)

'B'

In [8]:
#kth value of alphabet
k = int(input())
x = ord('A')
asciitarget= x+ k-1
targetchar= chr(asciitarget)
targetchar

4

'D'

In [12]:
# char 
n = int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        char=chr(ord('A') +j-1)
        print(char , end='')
        j=j+1
    print()
    i = i+1

4
ABCD
ABCD
ABCD
ABCD

In [15]:
#char reverse
n=int(input())
i=1
while i<=n:
    j=1
    start = chr(ord('A')+ i-1) #it gives i value every time +1 in it vale 
    while j<=n:
        charP = chr(ord(start)+ j-1)
        print(charP , end='')
        j=j+1
    print()
    i = i+1

4
ABCD
BCDE
CDEF
DEFG

In [30]:
#new patter in char 
n=int(input())
i=1
while i<=n:
    j=1
    start=chr(ord('A') + i-1)
    while j<=i:
        char=chr(ord(start)+ j-1)
        print(char,end="")
        j+=1
    print()
    i+=1

5
A
BC
CDE
DEFG
EFGHI

In [37]:
n=int(input())
i=1
while i<=n:
    j=1
    startchar=chr(ord("A")+n-i) # i is the row number starting from 1 to n
    while j<=i:
        char=chr(ord(startchar)+j-1) # this if for character increment in a row (column wise)
        print(char,end='')
        j=j+1
    print()
    i=i+1

5
E
DE
CDE
BCDE
ABCDE