In [1]:
#question 1

In [6]:
n=int(input())
for n in range(1, n+1):
    for column in range(1, n+ 1):
        print(column, end=' ')
    print("")

4
1
1 2
1 2 3
1 2 3 4

In [50]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j ,end='')
        j=j+1
    
    space=1
    while space<=(n-i):
            print('  ',end='')
            space=space+1
            
    star=1
    while star<=i:
        print(i-star+1,end='')
        star=star+1
            
    print()
    i=i+1

5
1        1
12      21
123    321
1234  4321
1234554321

In [51]:
#question2

In [53]:
n = int(input())
start = 1
end = 2*n+1
mid = n + 1
row = 1
while (row<=n):
    column = 1
    while (column<=2*n+1):
        if (column==start or column==end or column==mid):
            print("*",end='')
        else:
            print("0", end='')
        column = column + 1
    start = start + 1
    end = end - 1
    row = row + 1
    print()

6
*00000*00000*
0*0000*0000*0
00*000*000*00
000*00*00*000
0000*0*0*0000
00000***00000

In [54]:
#question3

In [71]:
n=int(input())
i=1
while i<=n:
    space=1
    while space<=n-i:
        print(' ',end='')
        space=space+1
    star=1
    while star<=i:
        print(i-star+1,end='')
        star=star+1
        
    p=i-1
    while p>=1:
        print(i-p+1,end='')
        p=p-1
        
    print()
    i=i+1

5
    1
   212
  32123
 4321234
543212345

In [75]:
#question 4

In [74]:
print('*')
print(' **')
print('  ***')
print('   ****')
print('  ***')
print(' **')
print('*')

*
 **
  ***
   ****
  ***
 **
*

In [76]:
n=int(input())
n1=(n+1)//2
n2=n-n1
i=1
while(i<=n1):
    sp=1
    while(sp<= i-1):
        print(" ",end="")
        sp=sp+1
    j=1
    while(j<=i):
        print("* ",end="")
        j=j+1
    print()
    i = i+1
i = 1
while i<=n2:
        sp = 1
        while sp <= (n2-i):
            print(" ", end = "")
            sp =sp+1
        j=1
        while j<=(n2-i)+1:
            print("* ", end = "")
            j = j+1
        print()
        i=i+1

5
*
 * *
  * * *
 * *
*