In [1]:
import numpy as np
import pandas as pd

In [2]:
empWithHeaderDF = pd.read_csv("employeeWithHeaders.csv", sep=',')
empWithHeaderDF

   eid     ename  esal
0    1     Mohit  1000
1    2      Amar  2000
2    3    Chitra  2000
3    3    Chitra  2000
4    4  Utkarsha  9878
5    5      Ajit  9999

In [3]:
#To get the information of the dataframe
empWithHeaderDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
eid      6 non-null int64
ename    6 non-null object
esal     6 non-null int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [4]:
type(empWithHeaderDF)

pandas.core.frame.DataFrame

In [5]:
# Series in Pandas
# Seriees is a column.Very similar to Numpy Array with dimension (X,1)
# A set of Series forms a DataFrame

In [6]:
empWithHeaderDF.esal

0    1000
1    2000
2    2000
3    2000
4    9878
5    9999
Name: esal, dtype: int64

In [7]:
type(empWithHeaderDF.esal)

pandas.core.series.Series

In [8]:
# You can convert the DataFrame/Series into a Numpy Array

empArray = empWithHeaderDF.values #.values convert DF into Numpy Array
print(type(empArray))
empArray

# There will be a situation where you will need to convert DF into Numpy

# Situation 1:

# If you are writing a code to create Statistical Model (Machine Learning Model/Algo) in Python
# the package that we use is Sci-kit learn(SKLEARN). SKLEARN expects your data to be in the form
# of Numpy Array.

# Situation 2:

# If you want to perform Statistical Testing (Hypothesis Testing) then the formula expects your
# data to be either in the form of Matrix or in the form of ndarray (Numpy)

# Situation 3:

# To implement Deep Learning Neural Networks your data must be represented in the form of Numpy


# Your plan of action will be
# 1. Load the data from file using Pandas
# 2. Ensure your dataset is in compliance with the next process( Statistical Modelling, Statistical Testing, NN creation)
# 3. Convert the dataframe into Numpy Array
# 4. Implement  Statistical Modelling, Statistical Testing, NN creation

<class 'numpy.ndarray'>

array([[1, 'Mohit', 1000],
       [2, 'Amar', 2000],
       [3, 'Chitra', 2000],
       [3, 'Chitra', 2000],
       [4, 'Utkarsha', 9878],
       [5, 'Ajit', 9999]], dtype=object)

In [9]:
# Even reverse is possible
pd.DataFrame(empArray , columns=['eid','ename','esal'])

  eid     ename  esal
0   1     Mohit  1000
1   2      Amar  2000
2   3    Chitra  2000
3   3    Chitra  2000
4   4  Utkarsha  9878
5   5      Ajit  9999