In [1]:
import numpy as np

In [2]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [4]:
# start , end , skip 
np.arange(1,20,2)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [12]:
#one dim 
print('one dim ', np.ones(10))

#print('two dimensional ',np.ones((2,2)))
np.ones((2,2))

one dim  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

array([[1., 1.],
       [1., 1.]])

In [14]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [16]:
#linspace return even space number over specofoed variable 
# start , end , number of element between start and end 
np.linspace(1,5,20)

array([1.        , 1.21052632, 1.42105263, 1.63157895, 1.84210526,
       2.05263158, 2.26315789, 2.47368421, 2.68421053, 2.89473684,
       3.10526316, 3.31578947, 3.52631579, 3.73684211, 3.94736842,
       4.15789474, 4.36842105, 4.57894737, 4.78947368, 5.        ])

In [17]:
#eye ---- identity array 
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [18]:
#for matrix 
np.matrix(np.eye(3))

matrix([[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]])

In [26]:
#random to generate the random number only of integer 
#add int to get integer value only 
#start , end , num of element 

np.random.randint(1,100,10)

array([ 3, 25, 70, 59, 54, 32, 20, 99, 86, 14])

In [23]:
#randn return normal distribution data measn all your data will be generate within range of 0 ,1
np.random.rand(10)

array([0.70209291, 0.60625357, 0.05543012, 0.23807883, 0.05769339,
       0.62702694, 0.93246692, 0.04491961, 0.05585552, 0.60962199])

In [25]:
data = np.random.rand(100)
print(np.mean(data))
print(np.std(data))
print(np.min(data))

0.4751429330637009
0.28152113660334577
0.0048598585568216945

In [27]:
#finding min , max , avg 
array = np.array([4,2,8,9,10,25,4,5,67,74,26,90])

In [32]:
print('min value in array  ',array.min())
print('max value in array ',array.max())

min value in array   2
max value in array  90

# Reshape the data

In [33]:
# how to reshape the data intop 2d
data = np.random.randint(1,100,9)
data

array([77, 71, 48, 83, 67, 48, 10, 37, 28])

In [34]:
data.reshape(3,3)

array([[77, 71, 48],
       [83, 67, 48],
       [10, 37, 28]])

In [35]:
data.reshape(9,1)

array([[77],
       [71],
       [48],
       [83],
       [67],
       [48],
       [10],
       [37],
       [28]])

In [36]:
data.ndim

1

In [39]:
# till now our data is still one dim until we assign it 
data = data.reshape(3,3)
print(data)
print('dimension of the array after assign ',data.ndim)

[[77 71 48]
 [83 67 48]
 [10 37 28]]
dimension of the array after assign  2

# Ravel 
- used to convert in 1D

In [40]:
data.ravel()

array([77, 71, 48, 83, 67, 48, 10, 37, 28])

In [42]:
data.ravel().ndim

1

# selecting the data from array

In [44]:
aa = np.random.randint(1,100,9)
aa

array([93,  9, 79, 28, 34, 40, 30, 39, 74])

In [46]:
aa[6]

30

In [47]:
aa[1:4]

array([ 9, 79, 28])

In [52]:
a = aa.reshape(3,3)
a

array([[93,  9, 79],
       [28, 34, 40],
       [30, 39, 74]])

In [63]:
# row and column 
a[0][1]

9

In [64]:
a[1][2]

40

In [73]:
a[1

array([40])

In [78]:
#how to extract 34,40 and 39,74
a[0:2 , 1:3]

array([[ 9, 79],
       [34, 40]])

In [82]:
a[2,1:3]

array([39, 74])

# searching element in

In [85]:
df = np.random.randint(1,200,9)
df

array([134,  61,  48,  14, 144,  13,   9, 158,  76])

In [89]:
#df ==  9
df[df==9]

array([9])

In [93]:
# print the element more than 50 
df[df>50]

array([134,  61, 144, 158,  76])

In [97]:
df[(df>50) & (df<100) ]

array([61, 76])

# remove duplicate

In [98]:
# we use set 
l = [1,1,1,2,2,2,3,3,3,4,4,5,5,5,8,6,9,6,6,6,6,6]
l

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5, 5, 8, 6, 9, 6, 6, 6, 6, 6]

In [101]:
set(l)

{1, 2, 3, 4, 5, 6, 8, 9}

In [102]:
# typecaste for change into list 
list(set(l))

[1, 2, 3, 4, 5, 6, 8, 9]

In [103]:
np.fromfunction(lambda x,y : x==y,(3,4))

array([[ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False]])

In [104]:
np.fromfunction(lambda x,y : x+y,(3,4))

array([[0., 1., 2., 3.],
       [1., 2., 3., 4.],
       [2., 3., 4., 5.]])